*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, poppins;
    scroll-behavior: smooth;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #904282, #6d00ff 70%, #6d00ff 70% );
    padding: 1em 0 3em ;
    position: relative;
    color: #fff;
}

.hero .nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    padding: 0.4em 13%;
    align-items: center;
    /* background:rgba(24, 24, 24, 0.6); */
    /* border-bottom: 0.1px solid #fff; */
    z-index: 10;
    box-shadow: 0.5px 0.5px 5px #fff;
}

.nav img{
    width: 4em;
    cursor: pointer;
}

.nav ul{
    display: flex;
    flex: 0.3;
    text-align: center;
    justify-content: space-between;
}

.nav ul li{
    list-style: none;
}

.nav ul li a:hover{
    opacity: 0.6;
    transition: .8s;
}

.nav ul li a, .nav a, .main a{
   text-decoration: none;
   color: #fff;
   font-size: 1rem;  
   font-weight: 500;
}

/* main */
.btn{
    background:rgba(255, 255, 255, 0.1);
    border: 0.1em solid magenta;
    border-radius: 0.4em;
    padding: 0.6em 1.5em;
    color: #fff;
    display: inline-block;
    /* z-index: 10; */
}

.main{
   margin-top: 20em;
   padding: 1em 13%;
   width: 100%;
   margin-bottom: 2em;
}

.main .textbox{
    width: 50%;
    position: relative;
    /* margin-bottom: 2em; */
}

.main h1{
    font-size: 3.3rem;
    color: #fff;
    font-weight: bolder;
    /* text-shadow: 1px 1px #dee2e6; */
}

.main h1 span{
    font-size: 3rem;
    color: #000;
    color:rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 0.8px #fff;
    font-weight: bolder;
    /* transition: all 20; */
}

.main p{
    padding: 1em 0 2em;
    line-height: 1.8em;
    font-size: 1.1girem;
    font-weight: 200;
}

.main img{
    width: 20em;
    position: absolute;
    right: 15em;
    top: 8em;;
    z-index: 2;
    background: #8569ff;
    box-shadow: 0.5px 0.5px 5px #fff;
}

.main .sidebar{
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient( #8569ff, #006786);
    z-index: 1;
} 

.btn:hover{
    opacity: 0.6;
    transition: .5s;
}

.hero #projects{
    display: flex;
    position: relative;
    /* margin-top: 20em; */
    padding: 1em 13%;
    width: 100%;
    z-index: 10;
    /* gap: 3.5em; */
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
    /* border: 0.1em solid magenta; */
    margin: 5em 0 3em;
}

.hero #projects div{
    width: 21em;
    height: 20em;
    border: 0.1em solid magenta;
    border-top-right-radius: 0.9em;
    border-bottom-left-radius: 0.9em;
    text-align: center;
    padding: 2em 4em;
    box-shadow: 0.5px 0.5px 5px #fff;
    opacity: 1;
    transition: .5s;
}

.hero #projects div:hover{
    opacity: 0.8;
}

.hero #projects h1{
    font-size:  1.3rem;
    font-weight: bold;
    padding: 0 0 4em;  
    text-shadow: 0.5px 0.5px #dee2e6;
}

.hero #projects p{
    font-size:  1rem;
    line-height: 1.5em;
    font-weight: 200;
    /* padding-top: 2em; */
}

.hero #projects div:nth-child(1){
    background-image: linear-gradient(
        to bottom,
        rgba(22, 22, 21, 0.5),
        rgba(16, 16, 17, 0.9)),url(/img/yelpcamp.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}

.hero #projects div:nth-child(2){
    background-image: linear-gradient(
        to bottom,
        rgba(22, 22, 21, 0.5),
        rgba(16, 16, 17, 0.9)),url(/img/blogpost.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}

.hero #projects div:nth-child(3){
    background-image: linear-gradient(
        to bottom,
        rgba(22, 22, 21, 0.5),
        rgba(16, 16, 17, 0.9)),url(/img/getdadsjoke.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
.hero #projects div a svg{
    fill: #fff;  
}

.hero #projects div a svg:hover{
    fill: #6d00ff 
}

.contact-svg{
    fill: #fff;
    padding-right: 0.5em;
    transition: all 0.5s;
    display: inline-block;
}

.contact-svg:hover{
    transform: translateX(0.3em);
    fill: #000;
}




